*{
    font-size:x-large;
}

#result{
    height: 100px;
    width: 100px;
    border: 2px solid blue;
    padding: 10px;
    margin:5px;
    text-align: center;
    background-color: #F3A4F5;
    border-color: black;
    color:whitesmoke;


}

#firstNum,
#secondNum{
    text-align: center;
    height: 80px;
    width: 10px;
    margin-right: 25px;
    background-color: #F3A4F5;
    border-color: black;
    color:whitesmoke;


}


#add,#substract,
#multiply,#divide
{

    border-color: black;
    background-color: #c27de8;
    border-radius: 8px;
    margin-top: 20px;
    margin-right: 5px;

}

