#result{
    height: 100px;
    width: 100px;
    border: 2px solid blue;
    padding: 10px;
    margin:5px;
    text-align: center;
}

#firstNum,
#secondNum{
    text-align: center;
    height: 80px;
    width: 10px;
    margin-right: 25px;
}


#add,#substract,
#multiply,#divide
{
    margin-top: 20px;
    margin-right: 5px;

}

